<!DOCTYPE html>
<html>
<head>
<title>bootstrap datepicker examples</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<!-- Bootstrap CSS and bootstrap datepicker CSS used for styling the demo pages-->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<style type="text/css">
.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit li {
  line-height: 30px;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
#intro {
	text-align: center;
}

</style>


<!-- <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" > -->

<!--<link rel="stylesheet" href="app/css/bootstrap.css" > --> 


<!-- <link rel="stylesheet" href="app/css/datepicker.css" > -->
</head>
  <body>
    {{{ body }}} 
  </body>
</html>