
<title>Columns - Examples</title>

<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<!-- Include *at least* the core style and default theme -->
<link href="css/prettify.css" rel="stylesheet">
<link href="css/hemisu-light.css" rel="stylesheet">

<link href="css/screen.css" rel="stylesheet" media="screen">

<link id="style" href="../css/classic.css" rel="stylesheet" media="screen">

<style>
    pre { 
        margin-top: 10px;
    }
</style>

 <!-- Include required JS files -->
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<script src="js/jquery.columns.min.js"></script>
<link rel="stylesheet" href="/views/css/classic.css">

<!-- this is the table div
 -->
<div id="draftTable"></div>
<pre class="prettyprint">
<script>
  $(document).ready(function() {
    var json = [{"col1":"row1", "col2":"row1", "col3":"row1"}, {"col1":"row2", "col2":"row2", "col3":"row2"}]; 
    $('#columns').columns({
      data:json
    });
  });
</script>



<script src="../js/jquery.min.js"></script>
<script src="../plugins/gotopage.js"></script>
<script src="../plugins/ajaxpaging.js"></script>
<script src="../js/jquery.columns.min.js"></script>



<script src="../js/jquery.min.js"></script>
<script src="../plugins/gotopage.js"></script>
<script src="../plugins/ajaxpaging.js"></script>
<script src="../js/jquery.columns.min.js"></script>
